@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700&display=swap");

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

.section {
    background-color: lightpink;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card-box {
    background: white;
    width: 100%;
    max-width: 700px;
    padding: 30px;
    border-radius: 20px;
}

.title {
    color: orangered;
    font-weight: bold;
}

.text {
    font-size: 16px;
}

.emoji {
    font-size: 40px;
    margin-bottom: 15px;
}

.reason-card {
    background-color: #cfe2f3;
    padding: 20px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.btn-custom {
    background-color: lightpink;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    margin-top: 10px;
}

.btn-custom-dark {
    background-color: rgb(193, 42, 65);
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    color: white;
    margin-top: 10px;
}

.custom-img {
    max-width: 250px;
    width: 100%;
    height: auto;
}

/* Mobile Improvements */
@media (max-width: 768px) {

    .card-box {
        padding: 20px;
    }

    .title {
        font-size: 22px;
    }

    .text {
        font-size: 14px;
    }
}
