@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700&display=swap");

.bg-container {
    background-color: lightpink;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding: 180px;



}

.bg-card {
    background-color: white;
    height: 300px;
    width: 900px;
    margin-left: 80px;
    border-radius: 25px;
    padding: 15px;

}

.hed {
    font-size: 25px;
    color: orangered;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.emoji {
    padding-top: 50px;
    text-align: center;

}

.para {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 15px;
}

.but {
    background-color: lightpink;
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 14px;
    border-width: 0px;
    color: white;
}




.bg-container2 {
    background-color: lightpink;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding: 180px;



}




.bg-card2 {
    background-color: azure;
    height: 360px;
    width: 900px;
    margin-left: 80px;
    border-radius: 25px;
    padding: 20px;

}

.reason-card {
    height: 25vh;
    width: 25vw;
    margin: 10px;
    border-radius: 20px;
    background-color: hwb(208 65% 24%);
    border-style: shadow;


}

.para2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 13px;
}


.bg-container3 {
    background-color: lightpink;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    padding: 180px;

}

.img {
    height: 200px;
    width: 200px;

}
.but2 {
    background-color: rgb(193, 42, 65);
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 14px;
    border-width: 0px;
    color: white;
    border-color:white;
    border-width:1px;
}
